* {
    font-family: Arial, Helvetica, sans-serif !important;
}
.fondo{
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.letra{
    color:  #115679;
}
h2{
    font-size: large;
    font-weight:bold;

}
.tarjeta{
    width: 90vh;
    height: 100vh;
    margin-top: 8vh;
    background: rgba(185, 226, 255, 0.9);
    box-shadow: 2px 2px 7px #999;
}
